<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Targets.Seq" />
  </extensions>

  <targets>
    <!-- Console Output -->
    <target xsi:type="Console" name="console" layout="${longdate}|${level}|${logger}|${message} ${exception:format=ToString}" />

    <!-- Seq Output -->
    <target xsi:type="Seq" name="seq" serverUrl="http://localhost:5341" />

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console,seq" />
  </rules>
</nlog>
